<div class="container">
    <div class="row">
      <div class= "col-5 text">
    <sub class="animate__animated animate__fadeIn">Captação 2021.2</sub>
 
   <h2 class="title animate__animated animate__fadeInLeft">Formas de Ingresso</h2>
      <p  class="animate__animated animate__fadeInLeftBig">
        Dolore Lorem tempor ullamco ad consequat amet sunt et 
        excepteur culpa. Nostrud ipsum ad consectetur anim 
        cillum voluptate duis eu quis elit commodo 
        cillum ipsum.Exercitation id enim laborum anim.
      </p>
      <p class="animate__animated animate__fadeInLeftBig">
        Dolore Lorem tempor ullamco ad consequat amet sunt et 
        excepteur culpa. Nostrud ipsum ad consectetur anim 
        cillum voluptate duis eu quis elit commodo 
        cillum ipsum.Exercitation id enim laborum anim.
  
        
      </p>
      
      <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary animate__animated animate__fadeInUp" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Quero fazer minha matricula
  </button>
  
  
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Escolha a modalidade</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body row">
          <div class="row col">
                <input type="radio" class="btn-check row" name="options" id="option1" autocomplete="off" [value]="rotaGraduacao" #graduacao (click)="modal1()" >
                <label class="btn btn-secondary row col" for="option1">Graduação</label>

               </div>
               <div class="row col">
                
                <input type="radio" class="btn-check row" name="options" id="option2" autocomplete="off" [value]="rotaPosGraduacao" #posGraduacao (click)="modal2()">
                <label class="btn btn-secondary row col" for="option2">Pós-Graduação</label>
</div>
            <div class="footer row">
                <button type="submit" class="btn btn-primary "  data-bs-dismiss="modal"
                 (click)="selecionar()" >Selecionar</button>
               
               
              </div>

        
        </div>
        
        
          
        
      </div>
    </div>
  </div>
  
  <div class="bnt-baixar">
<button type="button" class="btn btn-secondary  animate__animated animate__fadeInDown">Baixar Edital</button>
        
  </div>
      </div>
  
      <div class="col-7 img animate__animated animate__fadeInRight">
        <img src="../assets/Sitea-01.png" 
        class="rounded mx-auto d-block"
        alt=" imagem principal" 
        width="105%"
      >
      </div>
    </div>
  
  
    <div class="container">
      <div class="row graduacao-c animate__animated animate__fadeInUp">
        <div class="col-3">
          <img src="../assets/livro2-01.png" 
          class="rounded mx-auto d-block"
          alt=" cursos Graduação" 
          width="100%"
        >
        </div>
        <div class="col-9">
  <h2 class="graducao-t">
    Cursos Graduação
  </h2>
  <div class="row curso">
    <div class="col">
      <ul class="list">
        <li class="list"><span>- </span>Administração</li>
        <li class="list"><span>- </span>Ciência da Computação </li>
        <li class="list"><span>- </span>Ciências Contábeis </li>
        <li class="list"><span>- </span>Direito</li>
        <li class="list"><span>- </span>Engenharia Civil</li>
        <li class="list"><span>- </span>Engenharia de Produção</li>
        <li class="list"><span>- </span>Pedagogia</li>
      </ul>
    </div>
    <div class="col">
      <ul class="list">
        <li class="list"><span>- </span>Analise e Desenvolvimento de Sistemas</li>
        <li class="list"><span>- </span>Gestão comercial</li>
        <li class="list"><span>- </span>Gestão de Recursos Humanos</li>
        <li class="list"><span>- </span>Gestão Financeira</li>
        <li class="list"><span>- </span>Logística</li>
        <li class="list"><span>- </span>Processos Gerencias</li>
        <li class="list"><span>- </span>Redes de Computadores</li>
      </ul>
    </div>
        </div>
  
      </div>
    </div>
  
    <div class="container">
      <div class="row pos-graduacao-c">
        <div class="col-3">
          <img src="../assets/livro2-01.png" 
          class="rounded mx-auto d-block"
          alt=" cursos Pós-Graduação" 
          width="100%"
        >
        </div>
        <div class="col-9">
  <h2 class="pos-graducao-t">
    Cursos Pós-Graduação
  </h2>
  <div class="row curso">
    <div class="col">
      <ul class="list">
        <li class="list"><span>- </span>Marketing</li>
        <li class="list"><span>- </span>Gestão de Projetos</li>
        <li class="list"><span>- </span>Engenharia Eletrica</li>
        <li class="list"><span>- </span>Gestão de Pessoal</li>
        <li class="list"><span>- </span>Engenharia de software</li>
        <li class="list"><span>- </span>Educação Física Escolar</li>
        <li class="list"><span>- </span>Direito do Consumidor</li>
      </ul>
    </div>
    <div class="col">
      <ul class="list">
        <li class="list"><span>- </span>Administração Estratégica</li>
        <li class="list"><span>- </span>Medicina 4.0</li>
        <li class="list"><span>- </span>Enfermagem Estética</li>
        <li class="list"><span>- </span>Engenharaia Elétrica</li>
        <li class="list"><span>- </span>Administração Pública</li>
        <li class="list"><span>- </span>Geriatria</li>
        <li class="list"><span>- </span>Direito e Planejamento Tributário</li>
      </ul>
    </div>
        </div>
  
      </div>
    </div>
    </div>
    </div>
</div>
